<div class="row">
  <aside class="left_column">
    <div id="prof_pic">
      <% if @user.picture? %>
        <%= image_tag @user.picture.url %>
      <% else %>
        <%= gravatar_for @user %>
      <% end %>
      <p><%= @user.email %></p>
    </div>
    <% if user_signed_in? %>
      <div id="friends_box">
        <%= render 'shared/friends' unless current_user.get_all_friends.nil? %>
      </div>
      <% if current_user == @user %>
        <div id="friend_request_box">
          <%= render 'shared/requests' %>        
        </div>
      <% else %>
        <% if current_user.find_friendship(@user.id).nil? %>
          <%= link_to "Add #{@user.email} as friend", create_friendship_path(friend: @user) %>
        <% end %>
      <% end %>
    <% end %>
  </aside>
  <% if current_user == @user %>
    <div class="right_column">
      <div>
        <%= render 'shared/post_form' %>
      </div>
      <div class="feed">
        <%= render 'shared/feed' %>
      </div>
    </div>
  <% end %>  
</div>