<li id="post-<%= post.id %>">
  <%= post.title %>
  <%= post.body %>
  <%= post.user.email %>
  <%= post.created_at %>
  Likes: <%= post.likes.count %>
  <%= render 'likes/like_link', object: post %>
</li>