<li id="post-<%= post.id %>">
  <%= post.title %>
  <%= image_tag post.picture.url if post.picture? %>
  <%= post.body %>
  <%= post.user.email %>
  <%= post.created_at %>
  Likes: <%= post.likes.count %>
  <%= render 'likes/like_link', object: post %>
  <div class="well">
    <%= render 'comments/comments', object: post %>
    <%= render partial: 'comments/form', locals: { commentable: post }  %>
  </div>
</li>