<header class="navbar navbar-fixed-top navbar-inverse"> 
  <div class="container">
    <%= link_to "fakebook", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.email, root_path %></li>
          <li class="dropdown">
            <% @notifications = current_user.get_notifications %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications (<%= @notifications.count %>) <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if @notifications.count > 0 %>
                <% @notifications.each do |n| %>
                  <li>Friend request: <%= link_to User.find(n.user_id).email, user_path(n.user_id) %></li>
                <% end %>
              <% else %>
                <li><%= link_to "No new notifications" %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>
  </nav>
</div>
</header>